@using System.Security.Claims
@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    This place is secret. If see this message your an authorized person.
</div><br /><br/>
<div>
    @foreach (var claim in ((ClaimsPrincipal)User).Claims)
    {
        <div>@claim.Type : @claim.Value</div>
    }
</div>
<div><a href="/Auth/Logout">Logout</a></div>
</body>
</html>
